contacts.pug
extends layout.pug

block content
  .contacts
    div.wrap
      .contacts__top
        .contacts__left
          include blocks/breadcrumbs.html
          .page-title Контакты
          <div class="contacts__info">
              <div class="contacts__info-s">
                <h5>Наш адрес:</h5>
                <p>620100, Свердловская область, г. Екатеринбург, ул. Сибирский тракт, д.12, офис 504</p>
              </div>
              <div class="contacts__info-s">
                <h5>Телефон: </h5>
                <p>+7 (343) 247-85-00</p>
              </div>
              <div class="contacts__info-s">
                <h5>Режим работы:</h5>
                <p>ПН-ПТ с 9:00 до 18:00, СБ-ВС выходной</p>
              </div>
              <div class="contacts__info-s">
                <h5>Электронная почта:</h5>
                <p>info@helix.ru</p>
              </div>
          </div>
        .contacts__right
          include blocks/contacts__right.html
    include blocks/map.html
    .wrap
      <div class="title">Фото центра</div>
    include blocks/gallery.html
        
      
        

dist/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1"><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head><link rel="stylesheet" href="mini-default.67e93fef.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
<link rel="stylesheet" href="css.6a6a4216.css" type="text/css">
  <body>
    <div class="wrapper"><!-- HEADER -->
<header class="header">
  <div class="header__top">
    <div class="wrap">
      <a href="/" class="header__logo">
        <img src="logo.09af7d79.png" alt="Helix" title="На главную">
      </a>
      <div class="header__info clear">
        <div class="header__info-txt">
          <span class="tt-u fz15">Медицинский центр <strong>Helix Верхняя пышма</strong></span><br>
          <span class="fz14">В. Пышма, ул. Новгородцевой  123, офис 607</span> <br>
          <strong class="fz15">+7 (343) 567 78 90</strong>
        </div>
        <div class="header__info-right">
          <a href="https://login.helix.ru/enter" class="header__cabinet">
            <b>Личный кабинет</b>
          </a>
          <a href="/cart" class="header__cart">
              <b>Корзина</b><br>
              <span>(1 200 Р )</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <label for="drawer-control" class="drawer-toggle"></label>

<input type="checkbox" id="drawer-control" class="drawer">
<div>
  <label for="drawer-control" class="drawer-close"></label>
  <div class="header__nav clear">
    <div class="wrap">
      <a href="/" class="header__logo2">
        <img src="logo2.9140019c.png" alt="Helix" title="На главную">
      </a>
    <div class="header__nav_top">
        <a href="https://login.helix.ru/enter" class="header__cabinet">
        <b>Личный кабинет</b>
      </a>
      <a href="/cart" class="header__cart">
          <b>Корзина</b><br>
          <span>(1 200 Р )</span>
      </a>
    </div>
      <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
        <i class="i i_pencil"></i><span>Запись на прием</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="/">Главная</a></li>
          <li><a href="">О Центре</a></li>
          <li><a href="">Направления</a></li>
          <li><a href="">Диагностика</a></li>
          <li><a href="">Анализы</a></li>
          <li><a href="">Врачи</a></li>
          <li><a href="">Акции</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

</header>
<!-- //HEADER -->

      <main class="content" id="content">
        <section class="overflow-hidden">
          <div class="contacts">
            <div class="wrap">
              <div class="contacts__top">
                <div class="contacts__left"><div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__itm"><a href="/">Главная</a></li>
    <li class="breadcrumbs__itm"><a href="">Второй уровень</a></li>
    <li class="breadcrumbs__itm"><span>Уровень на котором мы</span></li>
  </ul>
</div>

                  <div class="page-title">Контакты</div><div class="contacts__info">
<div class="contacts__info-s">
<h5>Наш адрес:</h5>
<p>620100, Свердловская область, г. Екатеринбург, ул. Сибирский тракт, д.12, офис 504</p>
</div>
<div class="contacts__info-s">
<h5>Телефон: </h5>
<p>+7 (343) 247-85-00</p>
</div>
<div class="contacts__info-s">
<h5>Режим работы:</h5>
<p>ПН-ПТ с 9:00 до 18:00, СБ-ВС выходной</p>
</div>
<div class="contacts__info-s">
<h5>Электронная почта:</h5>
<p>info@helix.ru</p>
</div>
</div>
                </div>
                <div class="contacts__right"><form class="form">
  <div class="title">Напишите нам</div>
  <div class="field">
    <input type="text" name="username" required="" placeholder="ФИО">
  </div>
  <div class="field">
    <input type="tel" name="tel" required="" placeholder="Номер телефона">
  </div>
  <div class="field">
    <textarea name="comment" rows="5" placeholder="Введите сообщение"></textarea>
  </div>
  <div class="field">
    <button class="btn btn_green" type="submit">Отправить</button>
  </div>
</form>

                </div>
              </div>
            </div><div class="map">
  <div class="map__inner">
  <a class="dg-widget-link" href="http://2gis.ru/ekaterinburg/firm/70000001027671800/center/60.550932884216316,56.98519654542188/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Екатеринбурга</a><div class="dg-widget-link"><a href="http://2gis.ru/ekaterinburg/firm/70000001027671800/photos/70000001027671800/center/60.550932884216316,56.98519654542188/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ru/ekaterinburg/center/60.550931,56.983722/zoom/16/routeTab/rsType/bus/to/60.550931,56.983722╎Хеликс, лабораторная служба?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Хеликс, лабораторная служба</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({
  "width": 960,
  "height": 455,
  "borderColor": "#a3a3a3",
  "pos": {
    "lat": 56.98519654542188,
    "lon": 60.550932884216316,
    "zoom": 16
  },
  "opt": {
    "city": "ekaterinburg"
  },
  "org": [{
    "id": "70000001027671800"
  }]
});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
  </div>
</div>

            <div class="wrap"><div class="title">Фото центра</div></div><div class="gallery">
  <div class="js-slider-galley">
    <div class="gallery__slide">
      <a href="https://belousych.bitbucket.io/helix/spec.22e4a56e.png" data-modal-img=""><img src="foto.31723600.png" alt=""></a>
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt=""><
    </div>

    <div class="gallery__slide">
      <img src="foto.31723600.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt="">
    </div>
    <div class="gallery__slide">
      <img src="foto.31723600.png" alt=""><
    </div>
  </div>
</div>

          </div>
        </section>
      </main>
      <!-- FOOTER -->
<footer class="footer">
    <div class="wrap">
        <div class="footer__top">
            <a href="/" class="footer__logo">
                <img src="logo2.9140019c.png" alt="Helix" title="На главную">
            </a>
            <div class="footer__info clear">
                <div class="footer__info-right">
                    <div class="soc">
                      <a href="" class="soc__itm soc__itm_vk"></a>
                      <a href="" class="soc__itm soc__itm_fb"></a>
                      <a href="" class="soc__itm soc__itm_in"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom clear">
            <div class="footer__left">
                <div>г. Верхняя Пышма, ул. Батотина 123, офис 608</div>

                <div class="footer__tel">+7 343 56767 78</div>

                <div>Часы работы: с 8:00 до 21:00</div>

                <div><a href="#">Сайт исполнителя</a></div>
            </div>
            <div class="footer__right">
              <nav class="footer__nav">
                <ul>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                </ul>
              </nav>
              <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
                <i class="i i_pencil"></i><span>Запись на прием</span>
              </a>
            </div>
        </div>
        <div class="footer__bottom footer__bottom_end">
          <div class="footer__left">
            <div class="grey">Copyright © 2018.  Предложение не является публичной офертой</div>
          </div>
          <div class="footer__right">
            <div class="grey">
              <a href="#">Пользовательское соглашение</a><br>
              <a href="#">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->

<!-- MODAL -->
<div class="modal" id="js-form-feedback">
  <form class="form">
    <div class="title">Запись на прием</div>
    <div class="field">
      <input type="text" name="username" required="" placeholder="ФИО">
    </div>
    <div class="field">
      <input type="email" name="email" required="" placeholder="E-mail">
    </div>
    <div class="field">
      <textarea name="comment" rows="5" placeholder="Комментарий"></textarea>
    </div>
    <div class="field">
      <button class="btn btn_green" type="submit">Отправить</button>
    </div>
  </form>
</div>

<div class="modal" id="js-form-feedback-success">

    <div class="title">Ваша заявка отправлена</div>
    <p>Наши специалисты свяжутся с Вами в ближайшее время
и уточнят удобное время и дату приема.</p>
    <a href="#js-form-feedback-success" rel="modal:close" class="btn btn_green">
      Закрыть
    </a>
</div>
<!-- //MODAL -->
      <div class="btnScrollTop js-btnScrollTop">
  Наверх
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <!--jQuery Modal--><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
<script src="scripts.f1d13679.js"></script>
    </div>
  </body>
</html>
