sitemap.pug
extends layout.pug

block content
  div.wrap
    include blocks/breadcrumbs.html
    .page-title Карта сайта
    .sitemap
      ul
        li 
          a(href="") О центре
        li
          a(href="") Направления и услуги
        
          ul 
            li
              a(href="") Гинеколог
              ul
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
                li 
                  a(href="") нижний уровень
            li
              a(href="") УЗИ
            li
              a(href="") Услуга другая
        
        
        li
          a(href="") Врачи
          ul
            li
              a(href="") Гамаюнов Сергей Петрович
            li
              a(href="") Фамилия другого врача
            li
              a(href="") Еще что-то такое типо фамилии

dist/sitemap.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1"><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head><link rel="stylesheet" href="mini-default.67e93fef.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
<link rel="stylesheet" href="css.6a6a4216.css" type="text/css">
  <body>
    <div class="wrapper"><!-- HEADER -->
<header class="header">
  <div class="header__top">
    <div class="wrap">
      <a href="/" class="header__logo">
        <img src="logo.09af7d79.png" alt="Helix" title="На главную">
      </a>
      <div class="header__info clear">
        <div class="header__info-txt">
          <span class="tt-u fz15">Медицинский центр <strong>Helix Верхняя пышма</strong></span><br>
          <span class="fz14">В. Пышма, ул. Новгородцевой  123, офис 607</span> <br>
          <strong class="fz15">+7 (343) 567 78 90</strong>
        </div>
        <div class="header__info-right">
          <a href="https://login.helix.ru/enter" class="header__cabinet">
            <b>Личный кабинет</b>
          </a>
          <a href="/cart" class="header__cart">
              <b>Корзина</b><br>
              <span>(1 200 Р )</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <label for="drawer-control" class="drawer-toggle"></label>

<input type="checkbox" id="drawer-control" class="drawer">
<div>
  <label for="drawer-control" class="drawer-close"></label>
  <div class="header__nav clear">
    <div class="wrap">
      <a href="/" class="header__logo2">
        <img src="logo2.9140019c.png" alt="Helix" title="На главную">
      </a>
    <div class="header__nav_top">
        <a href="https://login.helix.ru/enter" class="header__cabinet">
        <b>Личный кабинет</b>
      </a>
      <a href="/cart" class="header__cart">
          <b>Корзина</b><br>
          <span>(1 200 Р )</span>
      </a>
    </div>
      <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
        <i class="i i_pencil"></i><span>Запись на прием</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="/">Главная</a></li>
          <li><a href="">О Центре</a></li>
          <li><a href="">Направления</a></li>
          <li><a href="">Диагностика</a></li>
          <li><a href="">Анализы</a></li>
          <li><a href="">Врачи</a></li>
          <li><a href="">Акции</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

</header>
<!-- //HEADER -->

      <main class="content" id="content">
        <section class="overflow-hidden">
          <div class="wrap"><div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__itm"><a href="/">Главная</a></li>
    <li class="breadcrumbs__itm"><a href="">Второй уровень</a></li>
    <li class="breadcrumbs__itm"><span>Уровень на котором мы</span></li>
  </ul>
</div>

            <div class="page-title">Карта сайта</div>
            <div class="sitemap">
              <ul>
                <li> <a href="">О центре</a></li>
                <li><a href="">Направления и услуги</a>
                  <ul> 
                    <li><a href="">Гинеколог</a>
                      <ul>
                        <li> <a href="">нижний уровень</a></li>
                        <li> <a href="">нижний уровень</a></li>
                        <li> <a href="">нижний уровень</a></li>
                        <li> <a href="">нижний уровень</a></li>
                      </ul>
                    </li>
                    <li><a href="">УЗИ</a></li>
                    <li><a href="">Услуга другая</a></li>
                  </ul>
                </li>
                <li><a href="">Врачи</a>
                  <ul>
                    <li><a href="">Гамаюнов Сергей Петрович</a></li>
                    <li><a href="">Фамилия другого врача</a></li>
                    <li><a href="">Еще что-то такое типо фамилии</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <!-- FOOTER -->
<footer class="footer">
    <div class="wrap">
        <div class="footer__top">
            <a href="/" class="footer__logo">
                <img src="logo2.9140019c.png" alt="Helix" title="На главную">
            </a>
            <div class="footer__info clear">
                <div class="footer__info-right">
                    <div class="soc">
                      <a href="" class="soc__itm soc__itm_vk"></a>
                      <a href="" class="soc__itm soc__itm_fb"></a>
                      <a href="" class="soc__itm soc__itm_in"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom clear">
            <div class="footer__left">
                <div>г. Верхняя Пышма, ул. Батотина 123, офис 608</div>

                <div class="footer__tel">+7 343 56767 78</div>

                <div>Часы работы: с 8:00 до 21:00</div>

                <div><a href="#">Сайт исполнителя</a></div>
            </div>
            <div class="footer__right">
              <nav class="footer__nav">
                <ul>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                  <li><a href="">Назваине услуги</a></li>
                </ul>
              </nav>
              <a href="#js-form-feedback" rel="modal:open" class="btn btn_light">
                <i class="i i_pencil"></i><span>Запись на прием</span>
              </a>
            </div>
        </div>
        <div class="footer__bottom footer__bottom_end">
          <div class="footer__left">
            <div class="grey">Copyright © 2018.  Предложение не является публичной офертой</div>
          </div>
          <div class="footer__right">
            <div class="grey">
              <a href="#">Пользовательское соглашение</a><br>
              <a href="#">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->

<!-- MODAL -->
<div class="modal" id="js-form-feedback">
  <form class="form">
    <div class="title">Запись на прием</div>
    <div class="field">
      <input type="text" name="username" required="" placeholder="ФИО">
    </div>
    <div class="field">
      <input type="email" name="email" required="" placeholder="E-mail">
    </div>
    <div class="field">
      <textarea name="comment" rows="5" placeholder="Комментарий"></textarea>
    </div>
    <div class="field">
      <button class="btn btn_green" type="submit">Отправить</button>
    </div>
  </form>
</div>

<div class="modal" id="js-form-feedback-success">

    <div class="title">Ваша заявка отправлена</div>
    <p>Наши специалисты свяжутся с Вами в ближайшее время
и уточнят удобное время и дату приема.</p>
    <a href="#js-form-feedback-success" rel="modal:close" class="btn btn_green">
      Закрыть
    </a>
</div>
<!-- //MODAL -->
      <div class="btnScrollTop js-btnScrollTop">
  Наверх
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <!--jQuery Modal--><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js"></script>
<script src="scripts.f1d13679.js"></script>
    </div>
  </body>
</html>
